@charset "UFT-8";

/*
    Typical Device BreakPoints
    --------------------------
    pequenas telas: até 600px
    celular: de 600px até 768px
    tablet: 768px até 992px
    Descktop: 992px até 1200px
    grandes telas: acima de 1200px
*/


/*PARA CELULAR*/
@media screen and (min-width: 600px) and (max-width: 768px){
    #ImgLogo1{
        width: 35%;
    }

    footer #redesSociais{
        display: flex;
        flex-direction: row;
    }
}


/*PARA TABLETS*/
@media screen and (min-width: 769px) and (max-width: 992px){
    #ImgLogo1{
        width: 25%;
    }

    footer #redesSociais{
        display: flex;
        flex-direction: row;
    }
}


/*PARA TELAS GRANDES*/
@media screen and (min-width: 993px){
    #ImgLogo1{
        width: 20%;
    }
    
    footer #redesSociais{
        display: flex;
        flex-direction: row;
    }
}