@charset "UFT-8";

/*
    Typical Device BreakPoints
    --------------------------
    pequenas telas: até 600px
    celular: de 600px até 768px
    tablet: 768px até 992px
    Descktop: 992px até 1200px
    grandes telas: acima de 1200px
*/